*{
    margin:0;
    padding: 0;
}
html, body{
    height: 100%;
    width:100%;
}
body{
    background-image: url('assets/chuck.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-wrapper{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.joke{
    box-sizing: border-box;
    border:solid #ffa31a 8px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.82);
    width:600px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    overflow: hidden;
}
.btn-wrapper{
    align-self: flex-end;
}
.change-joke-btn{
    border: none;
    background-color: #ffa31a;
    color:white;
    width:80px;
    height: 30px;
    font-weight: 500;
}
.change-joke-btn:hover{
    background-color: #cc7a00;
}
.joke-text{
    color:white;
    font-size: 24px;
}
.joke-text p{
    transition: top 0.6s ease-in;
    position:relative;
    top:0px;    
}

